body {
    font-family: sans-serif;
}

form{
    margin: 0 auto;
    width: 450px;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    
}

h1{
    margin: 0 auto;
    text-align: center;
}

#name{
  margin: 1rem auto;
}